h1 {
  color: crimson;
  text-align: center;
}

h3 {
  color: gray;
  text-align: center;
  font-family: fantasy;
}

ul {
  font-size: 25px;
  line-height: 30px;
}

p {
  font-weight: lighter;
  font-style: italic;
  font-family: monospace;
}
img {
  width: 300px;
  height: 200px;
}
